<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.way_ne.mapper.PermissionMapper">

    <select id="listAll" resultType="com.way_ne.pojo.Permission">
        select * from sys_permission order by sort_order asc, id asc
    </select>

    <select id="listCodesByRoleId" resultType="java.lang.String">
        select p.code
        from sys_permission p
                 join sys_role_permission rp on p.id = rp.permission_id
        where rp.role_id = #{roleId}
        order by p.sort_order asc, p.id asc
    </select>

    <select id="listPermissionIdsByRoleId" resultType="java.lang.Integer">
        select permission_id from sys_role_permission where role_id = #{roleId}
    </select>

    <delete id="deleteRolePermissions">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>

    <insert id="insertRolePermissions">
        insert into sys_role_permission(role_id, permission_id)
        values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>
</mapper>
